

<ion-content [fullscreen]="true">
  <!-- <div class="design2">
    <img src="/assets/form3.png" alt="">
  </div>
  <div class="design1">
    <img src="/assets/form2.png" alt="">
  </div> -->
 
  <div class="bg-f1">
    <img class ="bg2"src="/assets/floor15.svg" alt="">
    </div>
  <div class="img-custom">
  <img class ="bg"src="/assets/4.svg" alt="">
  </div>


<ion-grid [fixed]="true"  id="mySelect">
  <ion-row>
    

   
    <ion-col>
      <ion-list>
        <ion-item lines ="none">
        <ion-select   [(ngModel)]="selectedOption"  class="custom-select" placeholder="Equipment" interface="popover" fill="outline">
          <ion-select-option  value="fire">FE1</ion-select-option>
          <ion-select-option value="fire1">FE2</ion-select-option>
          <ion-select-option value="fire2" >FE3</ion-select-option>
        </ion-select>

        <ion-select   [(ngModel)]="selectedOption1" class="custom-select1"   placeholder="Buildings" interface="popover" fill="outline">
          <ion-select-option  value="fire">CICS</ion-select-option>
          <ion-select-option  value="fire1">CEAFA</ion-select-option>
          <ion-select-option  value="fire2">CIT</ion-select-option>
        </ion-select>

        <ion-select  [(ngModel)]="selectedOption2" class="custom-select1"  placeholder="Floor" interface="popover" fill="outline">
          <ion-select-option  value="fire">1st Floor</ion-select-option>
          <ion-select-option  value="fire1">2nd Floor</ion-select-option>
          <ion-select-option  value="fire2">3rd Floor</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
   </ion-col>
  </ion-row>
</ion-grid>


<div  class ="bg3">
  <img src="/assets/leg.svg" alt="">
</div>


<!-- <div class = "content-sec" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' ">
  <table class="ion-table">
    <thead align="center">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Remarks</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Nozzle</th>
        <th>Gauge</th>
        <th>Pin Lock</th>
        <th>Body</th>
        <th>Inspected By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <p *ngIf="currentDate"> {{ currentDate }}</p></td>
        <td><p *ngIf="currentTime"> {{ currentTime }}</p></td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="custom-checked">
          <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
          <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
        </ion-radio-group>
        </td>
        <td>Kc Dimayuga</td>
        
      </tr>
   
    </tbody>
  </table>
</div>
<div  class="update-b" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' " >
  <ion-button (click)="updateData()">Update</ion-button>
</div> -->

<div class="main-content">
<div class = "content-sec" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' ">

  <ion-grid fixed >
    <ion-row >
   
      <ion-col class="header" >Remarks</ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="highlight">
    <ion-row class="header">
      <ion-col>Date</ion-col>
      <ion-col>Time</ion-col>
      <ion-col>Nozzle</ion-col>
      <ion-col>Gauge</ion-col>
      <ion-col>Pin/Lock</ion-col>
      <ion-col>Body</ion-col>
      <ion-col>Inspected By</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid> 
    <div >
    <ion-row>
      <ion-col> {{ currentDate }}</ion-col>
      <ion-col >{{ currentTime }}</ion-col>
      <ion-col> 
        <ion-radio-group  (ionChange)="radioGroupChange($event)">
        <ion-radio value="check"   aria-label="Custom checkbox that is checked" ></ion-radio>
        <ion-radio  value="notworking"  aria-label="Custom checkbox"> </ion-radio>
      </ion-radio-group>
    </ion-col>
    <ion-col> 
      <ion-radio-group (ionChange)="radioGroupChange1($event)">
      <ion-radio value="check1"  aria-label="Custom checkbox that is checked" ></ion-radio>
      <ion-radio value="notworking1" aria-label="Custom checkbox"></ion-radio>
    </ion-radio-group>
  </ion-col>
  <ion-col> 
    <ion-radio-group (ionChange)="radioGroupChange2($event)">
    <ion-radio value="check2"  aria-label="Custom checkbox that is checked" ></ion-radio>
    <ion-radio value="notworking2" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>
</ion-col>
  <ion-col> 
    <ion-radio-group (ionChange)="radioGroupChange3($event)">
    <ion-radio value="check3"   aria-label="Custom checkbox that is checked" ></ion-radio>
    <ion-radio value="notworking3" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>
</ion-col>
      
      <ion-col>Kc Dimayuga</ion-col>
    </ion-row>
  </div>
  </ion-grid>
  <ion-button (click)="updateData()">Update</ion-button>
</div>


<div class = "content-sec" *ngIf="selectedOption === 'fire1' && selectedOption1 === 'fire' && selectedOption2  === 'fire1' ">

  <ion-grid fixed >
    <ion-row >
   
      <ion-col class="header" >Remarks</ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="highlight">
    <ion-row class="header">
      <ion-col>Date</ion-col>
      <ion-col>Time</ion-col>
      <ion-col>Nozzle</ion-col>
      <ion-col>Gauge</ion-col>
      <ion-col>Pin/Lock</ion-col>
      <ion-col>Body</ion-col>
      <ion-col>Inspected By</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid> 
    <div >
    <ion-row>
      <ion-col> {{ currentDate }}</ion-col>
      <ion-col >{{ currentTime }}</ion-col>
      <ion-col> 
        <ion-radio-group  (ionChange)="radioGroupChange($event)">
        <ion-radio value="check"   aria-label="Custom checkbox that is checked" ></ion-radio>
        <ion-radio  value="notworking"  aria-label="Custom checkbox"> </ion-radio>
      </ion-radio-group>
    </ion-col>
    <ion-col> 
      <ion-radio-group (ionChange)="radioGroupChange1($event)">
      <ion-radio value="check1"  aria-label="Custom checkbox that is checked" ></ion-radio>
      <ion-radio value="notworking1" aria-label="Custom checkbox"></ion-radio>
    </ion-radio-group>
  </ion-col>
  <ion-col> 
    <ion-radio-group (ionChange)="radioGroupChange2($event)">
    <ion-radio value="check2"  aria-label="Custom checkbox that is checked" ></ion-radio>
    <ion-radio value="notworking2" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>
</ion-col>
  <ion-col> 
    <ion-radio-group (ionChange)="radioGroupChange3($event)">
    <ion-radio value="check3"   aria-label="Custom checkbox that is checked" ></ion-radio>
    <ion-radio value="notworking3" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>
</ion-col>
      
      <ion-col>Kc Dimayuga</ion-col>
    </ion-row>
  </div>
  </ion-grid>
  <ion-button (click)="updateData1()">Update</ion-button>
</div>


<div class = "content-sec" *ngIf="selectedOption === 'fire2' && selectedOption1 === 'fire' && selectedOption2  === 'fire2' ">

  <ion-grid fixed >
    <ion-row >
   
      <ion-col class="header" >Remarks</ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="highlight">
    <ion-row class="header">
      <ion-col>Date</ion-col>
      <ion-col>Time</ion-col>
      <ion-col>Nozzle</ion-col>
      <ion-col>Gauge</ion-col>
      <ion-col>Pin/Lock</ion-col>
      <ion-col>Body</ion-col>
      <ion-col>Inspected By</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid> 
    <div >
    <ion-row>
      <ion-col> {{ currentDate }}</ion-col>
      <ion-col >{{ currentTime }}</ion-col>
      <ion-col> 
        <ion-radio-group  (ionChange)="radioGroupChange($event)">
        <ion-radio value="check"   aria-label="Custom checkbox that is checked" ></ion-radio>
        <ion-radio  value="notworking"  aria-label="Custom checkbox"> </ion-radio>
      </ion-radio-group>
    </ion-col>
    <ion-col> 
      <ion-radio-group (ionChange)="radioGroupChange1($event)">
      <ion-radio value="check1"  aria-label="Custom checkbox that is checked" ></ion-radio>
      <ion-radio value="notworking1" aria-label="Custom checkbox"></ion-radio>
    </ion-radio-group>
  </ion-col>
  <ion-col> 
    <ion-radio-group (ionChange)="radioGroupChange2($event)">
    <ion-radio value="check2"  aria-label="Custom checkbox that is checked" ></ion-radio>
    <ion-radio value="notworking2" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>
</ion-col>
  <ion-col> 
    <ion-radio-group (ionChange)="radioGroupChange3($event)">
    <ion-radio value="check3"   aria-label="Custom checkbox that is checked" ></ion-radio>
    <ion-radio value="notworking3" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>
</ion-col>
      
      <ion-col>Kc Dimayuga</ion-col>
    </ion-row>
  </div>
  </ion-grid>
  <ion-button (click)="updateData2()">Update</ion-button>
</div>



</div>
</ion-content>
