


<ion-content [fullscreen]="true">
 
  <!-- <ion-grid [fixed]="true">
  <ion-row>
    <ion-col>Safety Equipment</ion-col>
    <ion-col> Buildings</ion-col>
    <ion-col>Floors</ion-col>
  </ion-row>
</ion-grid> -->
<!-- <div class="design2">
  <img src="/assets/form3.png" alt="">
</div> -->
<div class="design1">
  <img src="/assets/form2.png" alt="">
</div>

<div class="img-custom">
<img class ="bg"src="/assets/fe.png" alt="">
</div>

<ion-grid [fixed]="true"  id="mySelect">

  <ion-row>
    <!-- <ion-col >
      <ion-list>
        <ion-item>
          <ion-select class="custom-select" placeholder="Equipment">
            <ion-select-option value="Fire_Extinguisher">Fire Extinguisher</ion-select-option>
            <ion-select-option value="Smoke_Detector">Smoke Detector</ion-select-option>
            <ion-select-option value="Sprinkler">Sprinkler</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col> -->
    

    <ion-col>
      <ion-list>
        <ion-item lines ="none">
        <ion-select   [(ngModel)]="selectedOption"  class="custom-select" placeholder="Select Equipment" interface="popover" fill="outline">
          <ion-select-option  value="fire">FE1</ion-select-option>
          <ion-select-option value="fire1">FE2</ion-select-option>
          <ion-select-option value="fire2" >FE3</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-col>

    <ion-col>
      <ion-list>
      <ion-item lines ="none" >
      <ion-select   [(ngModel)]="selectedOption1" class="custom-select1"   placeholder="Select Buildings" interface="popover" fill="outline">
        <ion-select-option  value="fire">CICS</ion-select-option>
        <ion-select-option  value="fire1">CEAFA</ion-select-option>
        <ion-select-option  value="fire2">CIT</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-col>

    <ion-col>
      <ion-list>
      <ion-item lines ="none">
      <ion-select  [(ngModel)]="selectedOption2" class="custom-select1"  placeholder="Select Floor" interface="popover" fill="outline">
        <ion-select-option  value="fire">1st Floor</ion-select-option>
        <ion-select-option  value="fire1">2nd Floor</ion-select-option>
        <ion-select-option  value="fire2">3rd Floor</ion-select-option>
      </ion-select>
      </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>





<div class = "content-sec" *ngIf="selectedOption === 'fire' && selectedOption1 === 'fire' && selectedOption2  === 'fire' ">
  <table class="ion-table">
  <thead align="center">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Remarks</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Nozzle</th>
      <th>Gauge</th>
      <th>Pin Lock</th>
      <th>Body</th>
      <th>Inspected By</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>06/26/2023</td>
      <td>9:00 AM</td>
      <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </td>
      <td>
        <ion-radio-group value="start" line ="none">
          <ion-item>
            <ion-radio value="start" justify="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </td>
      <td>
        <ion-radio-group value="start" line ="none">
          <ion-item>
            <ion-radio value="start" justify="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </td>
      <td>
        <ion-radio-group value="start" line ="none">
          <ion-item>
            <ion-radio value="start" justify="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </td>
      <td>Kc Dimayuga</td>
      
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
  </table>
</div>

<div class = "content" *ngIf="selectedOption === 'fire1' && selectedOption1 === 'fire1' && selectedOption2  === 'fire1' ">
  <table class="ion-table">
    <thead align="center">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Remarks</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Nozzle</th>
        <th>Gauge</th>
        <th>Pin Lock</th>
        <th>Body</th>
        <th>Inspected By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/27/2023</td>
        <td>10:00 AM</td>
        <td>
            <ion-radio-group value="start" line ="none">
              <ion-item>
                <ion-radio value="start" justify="start"></ion-radio>
              </ion-item>
            </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </td>
        <td>Kc Dimayuga</td>
        
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
    </table>

</div>

<div class = "content" *ngIf="selectedOption === 'fire2' && selectedOption1 === 'fire2' && selectedOption2  === 'fire2' ">
  <table class="ion-table">
    <thead align="center">
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Remarks</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Nozzle</th>
        <th>Gauge</th>
        <th>Pin Lock</th>
        <th>Body</th>
        <th>Inspected By</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>06/28/2023</td>
        <td>11:00 AM</td>
        <td>
            <ion-radio-group value="start" line ="none">
              <ion-item>
                <ion-radio value="start" justify="start"></ion-radio>
              </ion-item>
            </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </td>
        <td>
          <ion-radio-group value="start" line ="none">
            <ion-item>
              <ion-radio value="start" justify="start"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </td>
        <td>Kc Dimayuga</td>
        
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
    </table>
</div>

</ion-content>


